@import "../../globals.scss";

.custom-input {
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  border: 2px solid $color-grey-light;
  border-radius: 10px;
  outline: none;
  transition: border-color 0.16s ease-in-out;
  font-family: inherit;

  &:focus,
  :active {
    border-color: $color-grey;
  }
}
